<div class="classic-channel">
	<div class="heading-top">
		<h2>Classic Channels</h2>
	</div>
	<ul>
		<li>
			<a href="#" class="red">
				<img src="/images/img-c1.jpg" alt="" />
				<span>The woman in black</span>
				<em><strong>1,197,002</strong>  Members</em>
			</a>
		</li>
		<li>
			<a href="#" class="green">
				<img src="/images/img-c2.jpg" alt="" />
				<span>The Intention</span>
				<em><strong>1,197,002</strong>  Members</em> 
			</a>
		</li>
		<li>
			<a href="#" class="silver">
				<img src="/images/img-c3.jpg" alt="" />
				<span>Lenny</span>
				<em><strong>1,197,002</strong>  Members</em>
			</a>
		</li>
	</ul>
</div>
<div class="heading-top">
		<a href="#">View More</a>
</div>