<div id="right_content">
	<div class="sign-in-field">
		<input type="text" value="Search Video" class="txt-field"  onfocus="if(this.value == 'Search Video') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Search Video'; }" name="s" />
		<a href="#">Search Button</a>
	</div>

	<div class="banner-right">
		<a href="#"><img src="/images/banner-right.jpg" alt="" /></a>
		<h5>Join the most famous video-sharing community!</h5>
		<a href="#"><img src="/images/btn-join.gif" alt="" /></a>
	</div>
	<%= render :partial => "sidebars/classic_channels_box" %>
	<br class="clear" />
	<%= render :partial => "sidebars/video_list_box" %>
	<%= render :partial => "sidebars/events_box" %>

	
</div>
