<div class="trending-box">
	<div class="heading-top">
		<h2>Trending Now</h2>
	</div>
	<ul>
		<li>
			<div class="video-box-trending">
				<img src="/images/img-tr-1.jpg" alt="" />
				<span class="time-video">08:53</span>
				<span class="add-playlist"></span>
			</div>
			<div class="text-desc-tre">
				<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
				<p><strong>1,197,002</strong> views </p>
				<span>By <a href="#">Simon Cole</a></span>
			</div>
		</li>
		<li>
			<div class="video-box-trending">
				<img src="/images/img-tr-2.jpg" alt="" />
				<span class="time-video">08:53</span>
				<span class="add-playlist"></span>
			</div>
			<div class="text-desc-tre">
				<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
				<p><strong>1,197,002</strong> views </p>
				<span>By <a href="#">Simon Cole</a></span>
			</div>
		</li>
		<li>
			<div class="video-box-trending">
				<img src="/images/img-tr-4.jpg" alt="" />
				<span class="time-video">08:53</span>
				<span class="add-playlist"></span>
			</div>
			<div class="text-desc-tre">
				<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
				<p><strong>1,197,002</strong> views </p>
				<span>By <a href="#">Simon Cole</a></span>
			</div>
		</li>
	</ul>
	<div class="heading-top">
			<a href="#">View More</a>
	</div>
</div>