<div class="fbbody" id="main">
	<form accept-charset="UTF-8" action="/videos" class="new_video" enctype="multipart/form-data" id="new_video" method="post">
		<div class="left_sidebar"></div>
		<div class="upload_form" >
			<table>
				<%= form_for(@video, :html => { :multipart => true }) do |f| %>
        	<% if @video.errors.any? %>
          	<div id="error_explanation">
            	<ul>
              	<% @video.errors.full_messages.each do |msg| %>
                	<li><%= msg %></li>
               	<% end %>
           		</ul>
       			</div>
   				<% end %>
					<tr>
						<td><%= f.label :title %></td>
						<td class="td_input"><%= f.text_field :title, "size"=>"40" %></td>
					</tr>
					<tr>
						<td><label for="video_description">Description</label></td>
						<td><textarea cols="30" id="video_description" name="video[description]" onblur="setbg('white');" onfocus="this.value=''; setbg('#e5fff3')" rows="10"></textarea></td>
					</tr>
					<tr>
						<td><label for="video_category">Category</label></td>
						<td><select id="video_category" name="video[category]"><option value="1">Bikes And Cars</option>
							<option value="2">Education</option>
							<option value="3">Entertainment</option>
						</select></td>
					</tr>
					<tr>
						<td><label for="video_keywords">Keywords</label></td>
						<td><input id="video_keywords" name="video[keywords]" size="30" type="text"/></span></td>
					</tr>
					<tr>
						<td><label for="video_video">Video</label></td>
						<td><input id="video_source" name="video[source]" type="file"/></span></td>
					</tr>
					<tr><td><br/><br/></td></tr>
					<tr><td></td><td><input id="video_submit" name="commit" type="submit" value="Upload" height="25px"/> | <a href="/">Cancel</a></td></tr>
					<% end %>
			</table>
		</div>
</div>