

<title>Sign in</title>

<!--Content Section -->

<div id="signin_content_wrapper">
	<div id="signin_content">
		<div id="left_col">
			<div class="bg-shadow">&nbsp;<!--this is for side shadow --></div>
			<div class="signin_form_heading">
				<h1>Login to Vid Stream</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
			<form action="">
				<div class="signin-form">
					<ul>
						<li>
							<label>Email:</label>
							<span>
								<input type="text" value="User Name" class="txt-field"  onfocus="if(this.value == 'User Name') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'User Name'; }" />
							</span>
						</li>
						<li>
							<label>Password:</label>
							<span>
								<input type="password" value="password" class="password" onfocus="if(this.value == 'password') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'password'; }" />
							</span>
						</li>
						<li><div><label class="remem-me"><input type="checkbox"  />Remember Me </label><a href="#"> Forgot password?</a></div></li>
						<li><div><a href="#" class="fb-connect">Connect With Fb</a></div></li>
						<li><div><input type="submit" value="Login" class="login-btn" /></div></li>
					</ul>
				</div>
			</form>
		</div>
		<div id="right_col">
			<a href="#">
				<img src="images/banner-signin.jpg" alt="" />
			</a>
		</div>
		<br class="clear" />
	</div>
</div>
<!--Content Section End -->