<%= form_for(@video) do |video_form| %>
    <table>
        <% i = 0 %>
        <%= video_form.fields_for :tageeses do |taggee| %>
            <td>
                <%= render 'views/video_taggees/_new_taggee_box', :taggee => taggee %>
            </td>
        <% end %>
    </table>
<% end %>