<head>	
	<title> Tagmido - "Anything you can do"</title>
</head>
<body class="bg-body-v">

<!--Content Section -->

<div id="content_sec">
<div id="left_content">
<div id="banner_slider">
<div id="title-video">
<h1>Waka Waka (This Time for Africa)</h1>
<div class="uploader-info">
<img src="img-usr-thumb.gif" alt="" /><a href="#">by: shakiraVEVO</a>
</div>
</div>
<div class="video-slider">
<object type="application/x-shockwave-flash" style="width:629px; height:353px;" data="http://www.youtube.com/v/XB0pGnzsAZI?fs=1&amp;hl=en_US&amp;rel=0">
<param name="movie" value="http://www.youtube.com/v/XB0pGnzsAZI?fs=1&amp;hl=en_US&amp;rel=0" />
<param value="application/x-shockwave-flash" name="type" /> 
<param value="true" name="allowfullscreen" /> 
<param value="always" name="allowscriptaccess" /> 
<param value="opaque" name="wmode" />
</object>

</div>


</div>
<div class="panel-video">
<div class="panel-left">
<ul>
<li><a href="#" class="panl-1">Like</a></li>
<li><a href="#" class="panl-2">comment</a></li>
<li><a href="#" class="panl-3">Add to Playlist</a></li>
<li><a href="#" class="panl-4">Share</a></li>
<li><a href="#" class="panl-5">Flag</a></li>
</ul>
</div>
<div class="panel-right"><h3><strong>81,387,378</strong> views</h3></div>
</div>

<div class="share-panel">
<em class="shout-out">&nbsp;</em>
<div class="embed-code"><textarea rows="" cols="">http://www.youtube.com/watch?v=kffacxfA7G4</textarea><label><input type="checkbox" />Short URL</label></div>
<div class="social-connect">
<div class="twitter"><a href="#"><img src="bg-tweet.gif" alt="" /></a></div>
<div class="facebook"><a href="#"><img src="bg-facebook.gif" alt="" /></a></div>
</div>
<div class="social-network-group">
<ul>
<li><a href="#"><img src="icon-social-1.png" alt="" /></a></li>
<li><a href="#"><img src="icon-social-2.png" alt="" /></a></li>
<li><a href="#"><img src="icon-social-3.png" alt="" /></a></li>
<li><a href="#"><img src="icon-social-4.png" alt="" /></a></li>
<li><a href="#"><img src="icon-social-5.png" alt="" /></a></li>
<li><a href="#"><img src="icon-social-6.png" alt="" /></a></li>
<li><a href="#"><img src="icon-social-7.png" alt="" /></a></li>
<li><a href="#"><img src="icon-social-8.png" alt="" /></a></li>
<li><a href="#"><img src="icon-social-9.png" alt="" /></a></li>
<li><a href="#"><img src="icon-social-10.png" alt="" /></a></li>
<li><a href="#"><img src="icon-social-11.png" alt="" /></a></li>
<li><a href="#"><img src="icon-social-12.png" alt="" /></a></li>
<li><a href="#"><img src="icon-social-1.png" alt="" /></a></li>
<li><a href="#"><img src="icon-social-2.png" alt="" /></a></li>
<li><a href="#"><img src="icon-social-3.png" alt="" /></a></li>
<li><a href="#"><img src="icon-social-4.png" alt="" /></a></li>
<li><a href="#"><img src="icon-social-5.png" alt="" /></a></li>
</ul>
</div>
</div>

<div class="video-info">
<div class="left-info-box">
<ul>
<li class="nobg">Uploaded by <a href="#">shakiraVEVO</a> on Jun 4, 2010, 08:20 PM </li>
<li>Category: <a href="#">Music</a></li>
</ul>
<p>Video Details: <strong>1280x720, 127.61MB</strong></p>
</div>
<div class="right-info-box">
<p><strong>294,752</strong> likes, <strong>15,084</strong> dislikes </p>
<p>Please <a href="#">Join</a> or <a href="#">log in</a> to <a href="#" class="download-btn">Download</a></p>
</div>
</div>
<div id="comment-area">
<div class="heading-comment">
<h2>All Comments <strong>(4,033,360)</strong></h2>
</div>
<div class="comment-list">
<ul>
<li>
<span class="img-area">
<img src="img-usr-small-1.gif" alt="" />
</span>
<div class="text-area">
<h4><a href="#">Keran Smith</a> <span>Says:</span> </h4>
<p class="date-time">March 06, 2011 at 1:02 am</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dictum congue nisl. Duis ante nibh, porta quis imperdi
et id, pulvinar at turpis. Donec vitae nunc sed tortor egestas blandit. Integer lorem risus, pellentesque eu interdum 
non, commodo nec sem. Quisque justo mauris,</p>
<div class="like-panel">
<a href="#" class="like-1">like</a>
<a href="#" class="like-2">dislike</a>
<a href="#" class="like-3">Replay</a>
</div>
</div>
</li>
<li class="nobg">
<span class="img-area">
<img src="img-usr-small-1.gif" alt="" />
</span>
<div class="text-area">
<h4><a href="#">Keran Smith</a> <span>Says:</span> </h4>
<p class="date-time">March 06, 2011 at 1:02 am</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dictum congue nisl. Duis ante nibh, porta quis imperdiet id, pulvinar at turpis. Donec vitae nunc sed tortor egestas blandit. Integer lorem risus, pellentesque eu interdum non, commodo nec sem. Quisque justo mauris, viverra ut mattis in <a href="#">http://www.youtube.com/watch?v=kffacxfA7G4</a> Rnare quis dui. Praesent pellentesque suscipit adipiscing. Vivamus iaculis libero ac tellus commodo convallis. Nam vel lacus ipsum, sed auctor tellus.</p>
<div class="like-panel">
<a href="#" class="like-1">like</a>
<a href="#" class="like-2">dislike</a>
<a href="#" class="like-3">Replay</a>
</div>
</div>
</li>
<li>
<span class="img-area">
<img src="img-usr-small-2.gif" alt="" /></span>
<div class="text-area">
<h4><a href="#">Keran Smith</a> <span>Says:</span> </h4>
<p class="date-time">March 06, 2011 at 1:02 am</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dictum congue nisl. Duis ante nibh, porta quis imperdi
et id, pulvinar at turpis. Donec vitae nunc sed tortor egestas blandit. Integer lorem risus, pellentesque eu interdum 
non, commodo nec sem. Quisque justo mauris,</p>
<div class="like-panel">
<a href="#" class="like-1">like</a>
<a href="#" class="like-2">dislike</a>
<a href="#" class="like-3">Replay</a>
</div>
</div>
</li>
<li class="nobg">
<span class="img-area">
<img src="img-usr-small-3.gif" alt="" />
</span>
<div class="text-area">
<h4><a href="#">Keran Smith</a> <span>Says:</span> </h4>
<p class="date-time">March 06, 2011 at 1:02 am</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dictum congue nisl. Duis ante nibh, porta quis imperdiet id, pulvinar at turpis. Donec vitae nunc sed tortor egestas blandit. Integer lorem risus, pellentesque eu interdum non, commodo nec sem. Quisque justo mauris, viverra ut mattis in <a href="#">http://www.youtube.com/watch?v=kffacxfA7G4</a> Rnare quis dui. Praesent pellentesque suscipit adipiscing. Vivamus iaculis libero ac tellus commodo convallis. Nam vel lacus ipsum, sed auctor tellus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dictum congue nisl. Duis ante nibh, porta quis imperdiet id, pulvinar at turpis. Donec vitae nunc sed tortor egestas blandit. Integer lorem risus, pellentesque eu interdum non, commodo nec sem. Quisque justo mauris.</p>
<div class="like-panel">
<a href="#" class="like-1">like</a>
<a href="#" class="like-2">dislike</a>
<a href="#" class="like-3">Replay</a>
</div>
</div>
</li>
<li>
<span class="img-area">
<img src="img-usr-small-1.gif" alt="" />
</span>
<div class="text-area">
<h4><a href="#">Keran Smith</a> <span>Says:</span> </h4>
<p class="date-time">March 06, 2011 at 1:02 am</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dictum congue nisl. Duis ante nibh, porta quis imperdi
et id, pulvinar at turpis. Donec vitae nunc sed tortor egestas blandit. Integer lorem risus, pellentesque eu interdum 
non, commodo nec sem. Quisque justo mauris,</p>
<div class="like-panel">
<a href="#" class="like-1">like</a>
<a href="#" class="like-2">dislike</a>
<a href="#" class="like-3">Replay</a>
</div>
</div>
</li>

</ul>
</div>
</div>

</div>
<div id="right_content">
<div class="sign-in-field">
<input type="text" value="Search Video" class="txt-field"  onfocus="if(this.value == 'Search Video') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Search Video'; }" name="s" />
<a href="#">Search Button</a>
</div>
<div id="accordion">
<h3 class="accordionButton"><a href="javascript: void(0);">Suggestions</a></h3>
<div class="trending-box accordionContent">

<ul>
<li><div class="video-box-trending">
<img src="img-tr-1.jpg" alt="" />
<span class="time-video">08:53</span>
<span class="add-playlist"></span>
</div>

<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>
<li><div class="video-box-trending">
<img src="img-tr-2.jpg" alt="" />
<span class="time-video">08:53</span>
<span class="add-playlist"></span>
</div>

<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>


<li><div class="video-box-trending">
<img src="img-tr-3.jpg" alt="" />
<span class="time-video">08:53</span>
<span class="add-playlist"></span>
</div>

<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>

<li><div class="video-box-trending">
<img src="img-tr-4.jpg" alt="" />
<span class="time-video">08:53</span>
<span class="add-playlist"></span>
</div>

<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>
</ul>
</div>
<h3 class="accordionButton"><a href="javascript: void(0);">Recent Views</a></h3>

<div class="trending-box accordionContent">

<ul>
<li><div class="video-box-trending">
<img src="img-tr-1.jpg" alt="" />
<span class="time-video">08:53</span>
<span class="add-playlist"></span>
</div>

<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>
<li><div class="video-box-trending">
<img src="img-tr-2.jpg" alt="" />
<span class="time-video">08:53</span>
<span class="add-playlist"></span>
</div>

<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>


<li><div class="video-box-trending">
<img src="img-tr-3.jpg" alt="" />
<span class="time-video">08:53</span>
<span class="add-playlist"></span>
</div>

<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>

<li><div class="video-box-trending">
<img src="img-tr-4.jpg" alt="" />
<span class="time-video">08:53</span>
<span class="add-playlist"></span>
</div>

<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>
</ul>
</div>
<h3 class="accordionButton"><a href="javascript: void(0);">Recent Tagged</a></h3>
<div class="trending-box accordionContent">

<ul>
<li><div class="video-box-trending">
<img src="img-tr-1.jpg" alt="" />
<span class="time-video">08:53</span>
<span class="add-playlist"></span>
</div>

<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>
<li><div class="video-box-trending">
<img src="img-tr-2.jpg" alt="" />
<span class="time-video">08:53</span>
<span class="add-playlist"></span>
</div>

<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>


<li><div class="video-box-trending">
<img src="img-tr-3.jpg" alt="" />
<span class="time-video">08:53</span>
<span class="add-playlist"></span>
</div>

<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>

<li><div class="video-box-trending">
<img src="img-tr-4.jpg" alt="" />
<span class="time-video">08:53</span>
<span class="add-playlist"></span>
</div>

<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>
</ul>
</div>

</div>

<div class="classic-channel">
<div class="heading-top">
<h2>Classic Channels</h2>
</div>
<ul>
<li><a href="#" class="red">
<img src="img-c1.jpg" alt="" />
<span>The woman in black</span>
<em><strong>1,197,002</strong>  Members</em></a></li>
<li><a href="#" class="green">
<img src="img-c2.jpg" alt="" />
<span>The Intention</span>
<em><strong>1,197,002</strong>  Members</em> </a></li>
<li><a href="#" class="silver">
<img src="img-c3.jpg" alt="" />
<span>Lenny</span>
<em><strong>1,197,002</strong>  Members</em></a></li>
</ul>
</div>
<br class="clear" />
<div class="trending-box">
<div class="heading-top">
<h2>Trending Now</h2><a href="#">View More</a></div>
<ul>
<li><div class="video-box-trending">
<img src="img-tr-1.jpg" alt="" />
<span class="time-video">08:53</span>
<span class="add-playlist"></span>
</div>

<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>
<li><div class="video-box-trending">
<img src="img-tr-2.jpg" alt="" />
<span class="time-video">08:53</span>
<span class="add-playlist"></span>
</div>

<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>


<li><div class="video-box-trending">
<img src="img-tr-3.jpg" alt="" />
<span class="time-video">08:53</span>
<span class="add-playlist"></span>
</div>

<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>

<li><div class="video-box-trending">
<img src="img-tr-4.jpg" alt="" />
<span class="time-video">08:53</span>
<span class="add-playlist"></span>
</div>

<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>
</ul>
</div>

<div class="event-box">
<div class="heading-top">
<h2>Events</h2><a href="#">View More</a>
</div>

<ul>
<li><div class="img-frame-event">
<img src="img-c1.jpg" alt="" />
</div>
<div class="text-desc-event">
<h5>Duis molestie nunc les.</h5>
<p>Duis molestie nunc nec felis sollicit
udin sed ornare lorem varius.</p>
</div>
</li>
<li><div class="img-frame-event">
<img src="img-c2.jpg" alt="" />
</div>
<div class="text-desc-event">
<h5>Duis molestie nunc les.</h5>
<p>Duis molestie nunc nec felis sollicit
udin sed ornare lorem varius.</p>
</div>
</li>
<li><div class="img-frame-event">
<img src="img-c3.jpg" alt="" />
</div>
<div class="text-desc-event">
<h5>Duis molestie nunc les.</h5>
<p>Duis molestie nunc nec felis sollicit
udin sed ornare lorem varius.</p>
</div>
</li>
</ul>
</div>
</div>
<br class="clear" />
</div>
<!--Content Section End -->


</body>
</html>
