<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Videos. View Hot Videos on Web</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/arial.js"></script>
<script type="text/javascript" src="js/switch.js"></script>
<!--[if lte IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]-->
</head>
<body class="bg-body-l">
<!--Header Section -->
<div id="outer_header">
<div id="header_sec"> <a href="index.html"><img src="images/logo.png" alt="" id="logo" /></a>
<div id="nav">
<ul id="navbar">
<li><a href="index.html">Home</a></li>
<li><a href="videolisting.html" class="active">Videos</a></li>
<li><a href="news.html">News</a></li>
<li><a href="blog.html">Blog</a></li>
<li><a href="blogdetail.html"> Blog Post</a></li>
<li><a href="#">All Pages</a>
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="videolisting.html">Videos</a></li>
<li><a href="videodetail.html">Video Detail</a></li>
<li><a href="news.html">News</a></li>
<li><a href="blog.html">Blog</a></li>
<li><a href="blogdetail.html">Blog Detail</a></li>
<li><a href="signin.html">Login</a></li>
</ul>
</li>
</ul>
</div>
<div class="signin">
<ul>
<li class="create_account"><a href="#">Creat Account</a></li>
<li class="sign_in"><a href="signin.html">Sign In</a></li>
<li class="upload_btn"><a href="#">Upload New Video</a></li>
</ul>
</div>
<br class="clear" />
</div>
</div>
<!--Header Section  End-->
<!--Content Section -->
<div id="content_sec">
<div id="left_content">
<div class="heading-video">
<h1>All Videos</h1>
<ul>
<li class="show-grid"><a href="#" class="list-view">List View</a><a href="#" class="grid-view">Grid View</a></li>
</ul>
<label>
<select>
<option>Most Recent</option>
</select>
<span>Sort By:</span> </label>
</div>
<div class="counter-video">
<h2><strong>1,894,897</strong> Full Quality Downloadable Videos (and Still Counting)</h2>
<a href="#"><img src="images/btn-joinnow-md.gif" alt="" /></a> </div>
<div class="video-category">


<div class="wrapper_list_view">
<div class="description-box nopadding">
<div class="video-box"><a href="videodetail.html">
<img src="images/img-v1.jpg" alt="" />
<span class="time-video">01:25</span>
<span class="add-playlist">Add</span></a></div>
<div class="description-video">
<div class="heading-date">
<h5><a href="videodetail.html">Duis molestie nunc nec felis sollicitudin</a></h5>
<span>8 months ago</span></div>
<div class="text-desc">
<p>Duis molestie nunc nec felis sollicitudin sed ornare lorem varius. Quisque eleifend lacus eget lectus elementum vel ultrices justo porta. Etiam bibendum. Quisque eleifend lacus eget lectus elementum vel ultrices justo porta. Etiam bibendum.</p>
</div>
<div class="total-views"><strong>12,194,298 </strong> views</div>
<div class="bottom-panel">
<ul> 
<li class="nobg">by: <a href="#">Alex Anderson</a></li>
<li><strong>2,114,568</strong> Views</li>
<li>96 Comments</li>
</ul>
<div class="rating-stars"><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em class="low-rate">&nbsp;</em></div>
<a href="#" class="share-btn">Share This</a></div>
</div>
</div>


<div class="description-box">
<div class="video-box">
<a href="videodetail.html">
<img src="images/img-v2.jpg" alt="" />
<span class="time-video">01:25</span>
<span class="add-playlist">Add</span></a></div>
<div class="description-video">
<div class="heading-date">
<h5><a href="videodetail.html">Duis molestie nunc nec felis sollicitudin</a></h5>
<span>8 months ago</span></div>
<div class="text-desc">
<p>Duis molestie nunc nec felis sollicitudin sed ornare lorem varius. Quisque eleifend lacus eget lectus elementum vel ultrices justo porta. Etiam bibendum. Quisque eleifend lacus eget lectus elementum vel ultrices justo porta. Etiam bibendum.</p>
</div>
<div class="total-views"><strong>12,194,298 </strong> views</div>
<div class="bottom-panel">
<ul> 
<li class="nobg">by: <a href="#">Alex Anderson</a></li>
<li><strong>2,114,568</strong> Views</li>
<li>96 Comments</li>
</ul>
<div class="rating-stars"><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em class="low-rate">&nbsp;</em></div>
<a href="#" class="share-btn">Share This</a></div>
</div>
</div>

<div class="description-box">
<div class="video-box"><a href="videodetail.html">
<img src="images/img-v3.jpg" alt="" />
<span class="time-video">01:25</span>
<span class="add-playlist">Add</span></a></div>
<div class="description-video">
<div class="heading-date">
<h5><a href="videodetail.html">Duis molestie nunc nec felis sollicitudin</a></h5>
<span>8 months ago</span></div>
<div class="text-desc">
<p>Duis molestie nunc nec felis sollicitudin sed ornare lorem varius. Quisque eleifend lacus eget lectus elementum vel ultrices justo porta. Etiam bibendum. Quisque eleifend lacus eget lectus elementum vel ultrices justo porta. Etiam bibendum.</p>

</div>
<div class="total-views"><strong>12,194,298 </strong> views</div>
<div class="bottom-panel">
<ul> 
<li class="nobg">by: <a href="#">Alex Anderson</a></li>
<li><strong>2,114,568</strong> Views</li>
<li>96 Comments</li>
</ul>
<div class="rating-stars"><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em class="low-rate">&nbsp;</em></div>
<a href="#" class="share-btn">Share This</a></div>
</div>
</div>

<div class="description-box">
<div class="video-box">
<a href="videodetail.html">
<img src="images/img-v1.jpg" alt="" />
<span class="time-video">01:25</span>
<span class="add-playlist">Add</span></a></div>
<div class="description-video">
<div class="heading-date">
<h5><a href="videodetail.html">Duis molestie nunc nec felis sollicitudin</a></h5>
<span>8 months ago</span></div>
<div class="text-desc">
<p>Duis molestie nunc nec felis sollicitudin sed ornare lorem varius. Quisque eleifend lacus eget lectus elementum vel ultrices justo porta. Etiam bibendum. Quisque eleifend lacus eget lectus elementum vel ultrices justo porta. Etiam bibendum.</p>
</div>
<div class="total-views"><strong>12,194,298 </strong> views</div>

<div class="bottom-panel">
<ul> 
<li class="nobg">by: <a href="#">Alex Anderson</a></li>
<li><strong>2,114,568</strong> Views</li>
<li>96 Comments</li>
</ul>
<div class="rating-stars"><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em class="low-rate">&nbsp;</em></div>
<a href="#" class="share-btn">Share This</a></div>
</div>
</div>
<div class="banner">
<a href="#"><img src="images/banner-join-now.jpg" alt="" /></a>
</div>
<div class="description-box nopadding">
<div class="video-box">
<a href="#">
<img src="images/img-v2.jpg" alt="" />
<span class="time-video">01:25</span>
<span class="add-playlist">Add</span></a>
</div>
<div class="description-video">
<div class="heading-date">
<h5><a href="videodetail.html">Duis molestie nunc nec felis sollicitudin</a></h5>
<span>8 months ago</span></div>
<div class="text-desc">
<p>Duis molestie nunc nec felis sollicitudin sed ornare lorem varius. Quisque eleifend lacus eget lectus elementum vel ultrices justo porta. Etiam bibendum. Quisque eleifend lacus eget lectus elementum vel ultrices justo porta. Etiam bibendum.</p>
</div>
<div class="total-views"><strong>12,194,298 </strong> views</div>
<div class="bottom-panel">
<ul> 
<li class="nobg">by: <a href="#">Alex Anderson</a></li>
<li><strong>2,114,568</strong> Views</li>
<li>96 Comments</li>
</ul>
<div class="rating-stars"><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em class="low-rate">&nbsp;</em></div>
<a href="#" class="share-btn">Share This</a></div>
</div>
</div>

<div class="description-box">
<div class="video-box">
<a href="videodetail.html">
<img src="images/img-v1.jpg" alt="" />
<span class="time-video">01:25</span>
<span class="add-playlist">Add</span></a></div>
<div class="description-video">
<div class="heading-date">
<h5><a href="videodetail.html">Duis molestie nunc nec felis sollicitudin</a></h5>
<span>8 months ago</span></div>
<div class="text-desc">
<p>Duis molestie nunc nec felis sollicitudin sed ornare lorem varius. Quisque eleifend lacus eget lectus elementum vel ultrices justo porta. Etiam bibendum. Quisque eleifend lacus eget lectus elementum vel ultrices justo porta. Etiam bibendum.</p>
</div>
<div class="total-views"><strong>12,194,298 </strong> views</div>
<div class="bottom-panel">
<ul> 
<li class="nobg">by: <a href="#">Alex Anderson</a></li>
<li><strong>2,114,568</strong> Views</li>
<li>96 Comments</li>
</ul>
<div class="rating-stars"><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em class="low-rate">&nbsp;</em></div>
<a href="#" class="share-btn">Share This</a></div>
</div>
</div>
<div class="description-box">
<div class="video-box">
<a href="#">
<img src="images/img-v1.jpg" alt="" />
<span class="time-video">01:25</span>
<span class="add-playlist">Add</span></a></div>
<div class="description-video">
<div class="heading-date">
<h5><a href="videodetail.html">Duis molestie nunc nec felis sollicitudin</a></h5>
<span>8 months ago</span></div>
<div class="text-desc">
<p>Duis molestie nunc nec felis sollicitudin sed ornare lorem varius. Quisque eleifend lacus eget lectus elementum vel ultrices justo porta. Etiam bibendum. Quisque eleifend lacus eget lectus elementum vel ultrices justo porta. Etiam bibendum.</p>
</div>
<div class="total-views"><strong>12,194,298 </strong> views</div>
<div class="bottom-panel">
<ul> 
<li class="nobg">by: <a href="#">Alex Anderson</a></li>
<li><strong>2,114,568</strong> Views</li>
<li>96 Comments</li>
</ul>
<div class="rating-stars"><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em class="low-rate">&nbsp;</em></div>
<a href="#" class="share-btn">Share This</a></div>
</div>
</div>
<div class="description-box">
<div class="video-box">
<a href="videodetail.html">
<img src="images/img-v1.jpg" alt="" />
<span class="time-video">01:25</span>
<span class="add-playlist">Add</span></a></div>
<div class="description-video">
<div class="heading-date">
<h5><a href="videodetail.html">Duis molestie nunc nec felis sollicitudin</a></h5>
<span>8 months ago</span></div>
<div class="text-desc">
<p>Duis molestie nunc nec felis sollicitudin sed ornare lorem varius. Quisque eleifend lacus eget lectus elementum vel ultrices justo porta. Etiam bibendum. Quisque eleifend lacus eget lectus elementum vel ultrices justo porta. Etiam bibendum.</p>
</div>
<div class="total-views"><strong>12,194,298 </strong> views</div>
<div class="bottom-panel">
<ul> 
<li class="nobg">by: <a href="#">Alex Anderson</a></li>
<li><strong>2,114,568</strong> Views</li>
<li>96 Comments</li>
</ul>
<div class="rating-stars"><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em class="low-rate">&nbsp;</em></div>
<a href="#" class="share-btn">Share This</a></div>
</div>
</div>
</div>

<div class="pager">
<ul>
<li><a href="#" class="pre">Previous</a></li>
<li><a href="#" class="active">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li><a href="#">6</a></li>
<li><a href="#">7</a></li>
<li><span>...</span></li>
<li><a href="#">44</a></li>
<li><a href="#" class="next">Next</a></li>
<li><a href="#">Next</a></li>
</ul>
</div>
</div>
</div>
<div id="right_content">
<div class="sign-in-field">
<input type="text" value="Search Video" class="txt-field"  onfocus="if(this.value == 'Search Video') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Search Video'; }" name="s" />
<a href="#">Search Button</a> </div>
<div class="banner-right">
<h5>Join the most famous video-sharing community!</h5>
<a href="#"><img src="images/btn-join.gif" alt="" /></a> </div>
<br class="clear" />
<div class="trending-box">
<div class="heading-top">
<h2>Featured Videos</h2>
<a href="#">View More</a></div>
<ul>
<li>
<div class="video-box-trending"> <img src="images/img-tr-1.jpg" alt="" /> <span class="time-video">08:53</span> <span class="add-playlist"></span> </div>
<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>
<li>
<div class="video-box-trending"> <img src="images/img-tr-2.jpg" alt="" /> <span class="time-video">08:53</span> <span class="add-playlist"></span> </div>
<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>
<li>
<div class="video-box-trending"> <img src="images/img-tr-3.jpg" alt="" /> <span class="time-video">08:53</span> <span class="add-playlist"></span> </div>
<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>
<li>
<div class="video-box-trending"> <img src="images/img-tr-4.jpg" alt="" /> <span class="time-video">08:53</span> <span class="add-playlist"></span> </div>
<div class="text-desc-tre">
<h5><a href="videodetail.html">Duis molestie nunc nec</a></h5>
<p><strong>1,197,002</strong> views </p>
<span>By <a href="#">Simon Cole</a></span></div>
</li>
</ul>
</div>
<div class="category-list">
<div class="heading-top">
<h2>Categories</h2>
</div>
<ul>
<li><a href="#">Action</a></li>
<li><a href="#">Animals</a></li>
<li><a href="#">Art &amp; Animation</a></li>
<li><a href="#">Commercials</a></li>
<li><a href="#">Entertainment &amp; TV</a></li>
<li><a href="#">Family</a></li>
<li><a href="#">Food</a></li>
<li><a href="#">Funny Videos</a></li>
<li><a href="#">Games</a></li>
<li><a href="#">Health &amp; Beauty</a></li>
<li><a href="#">How-To</a></li>
<li><a href="#">Movies &amp; Shorts</a></li>
<li><a href="#">Music</a></li>
<li><a href="#">News &amp; Politics</a></li>
<li><a href="#">People &amp; Vlogs</a></li>
<li><a href="#">Products &amp; Tech</a></li>
<li><a href="#">Environment</a></li>
<li><a href="#">Sports</a></li>
<li><a href="#">Transportation</a></li>
<li><a href="#">Travel</a></li>
</ul>
</div>
<div class="classic-channel">
<div class="heading-top">
<h2>Featured Channels</h2>
</div>
<ul>
<li><a href="#" class="red"> <img src="images/img-c1.jpg" alt="" /> <span>The woman in black</span> <em><strong>1,197,002</strong> Members</em></a></li>
<li><a href="#" class="green"> <img src="images/img-c2.jpg" alt="" /> <span>The Intention</span> <em><strong>1,197,002</strong> Members</em> </a></li>
<li><a href="#" class="silver"> <img src="images/img-c3.jpg" alt="" /> <span>Lenny</span> <em><strong>1,197,002</strong> Members</em></a></li>
</ul>
</div>
<div class="banner-right"> <a href="#"><img src="images/banner-video.jpg" alt="" /></a> </div>
</div>
<br class="clear" />
</div>
<!--Content Section End -->
<!--Footer -->
<div id="outer-bottom-footer">
<div id="outer-footer">
<div id="footer_sec">
<div class="about-us">
<h2>About Us</h2>
<ul>
<li><a href="#">Our Story</a></li>
<li><a href="#">Privacy and Security</a></li>
<li><a href="#">Terms of Use</a></li>
<li><a href="#">Media Contact</a></li>
<li><a href="#">FAQ's</a></li>
<li><a href="#">Contact Us</a></li>
</ul>
</div>
<div class="rules-policy">
<h2>Rules &amp; Policies</h2>
<ul>
<li><a href="#">Rules &amp; Policies</a></li>
<li><a href="#">Usage Rules</a></li>
<li><a href="#">Copyright</a></li>
<li><a href="#">Privacy</a></li>
<li><a href="#">Terms of Use</a></li>
<li><a href="#">Contact Advertise</a></li>
</ul>
</div>
<div class="social-network">
<h2>Follow Us</h2>
<ul>
<li><a href="#" class="so1">www.facebook.com</a></li>
<li><a href="#" class="so2">www.Twitter.com</a></li>
<li><a href="#" class="so3">www.MySpace.com</a></li>
<li><a href="#" class="so4">www.Youtube.com</a></li>
<li><a href="#" class="so5">www.Google.com</a></li>
</ul>
</div>
<div class="news-letter">
<h2>News letter Sign Up</h2>
<p>Get exclusive offers, sales and special 
deals delivered to your inbox!</p>
<ul>
<li>
<label>
<input type="radio" checked="checked" name="news" />
Weekly </label>
<label>
<input type="radio"  name="news" />
Monthly </label>
</li>
</ul>
<span class="subsc-input">
<input type="text" value="Enter Email Address Here" name="newsletter"  onfocus="if(this.value == 'Enter Email Address Here') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Enter Email Address Here'; }" />
<a href="#">Submit</a></span> </div>
<br class="clear" />
</div>
</div>
</div>
<!--Footer Ends -->
<!--bottom Footer -->
<div id="bottom-footer">
<p>&copy; 2011 <a href="#">VidStream</a> All Rights Reserved</p>
<a href="#" id="goTop">Go to Top</a> <br class="clear" />
</div>
<!--Bottom Footer Ends -->
</body>
</html>
