<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>VtagO App</title>
		<%= stylesheet_link_tag "fb.css" %>
		<%= javascript_include_tag "jquery.min" ,"fb"%> 
	</head>

	<body onload="MM_preloadImages('/images/fb/tag_button_on.gif')">
		<div id="outer_header">
			<div id="fb_header">
				<div id="logo" class="logo"><%=link_to logo,"http://www.facebook.com/vtago"%></div>
				<ul id="fb_nav">
					<li id="vtag_video"><a class="fbtab" href="/fb/list" tabindex="1">Vtag a video</a></li>
					<li id="got_vtag"><a class="fbtab" href="/fb/vtaggees" tabindex="2">I got Vtagged</a></li>
					<li id="upload_video"><a class="fbtab" href="/fb/new" tabindex="3">Upload a video</a></li>
					<li id="about_vtag"><a class="fbtab" href="/fb/about" tabindex="4">About VtagO</a></li>
				</ul>				
			</div>
		</div>
		<div class="fbbody" id="main">		
			<%= yield %>
		</div>	
	</body>
</html>