<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>VtagO App</title>
		<%= stylesheet_link_tag "fb.css" %>
		<%= javascript_include_tag "fb" %> 
		<style type="text/css">
		body {
			background-color: #CCC;
		}
		</style>
	</head>

	<body onload="MM_preloadImages('/images/fb/tag_button_on.gif')">
		<div class="fbbody" id="main">
			<div class="header">
				<div class="logo" id="logo"><a href="http://www.facebook.com/vtago"><img src="/images/logo.png" alt="VtagO" border="0" /></a></div>
				<div class="main_tabs">
					<a class="fbtab_selected" href="/fb/list" tabindex="1">Vtag a video</a>
					<a class="fbtab" href="/fb/vtaggees" tabindex="2">I got Vtagged</a>
					<a class="fbtab" href="/fb/new" tabindex="3">Upload a video</a>
					<a class="fbtab" href="/fb/about" tabindex="4">About VtagO</a>
				</div>
			</div>
			<%= yield %>
	</body>
</html>